<header>
    <section id="header" class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo-part">
                    <img src="./assets/images/logo.png">
                </div>
                <div class="col-md-8 nav-wrapper">
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Schools</li>
                        <li>Blog</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
   
</header>